<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">{{ 'incentive.title' | translate }}</h2>
      <p class="mt-2 text-lg/8 text-gray-600">{{ 'incentive.description' | translate }}</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="assets/images/incentives/incentive1.jpg" alt=" {{ 'incentive.incentive1.title' | translate }}" class="aspect-video w-full rounded-2xl bg-gray-100 object-cover sm:aspect-2/1 lg:aspect-3/2">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-gray-900/10 ring-inset"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <p href="#">
                <span class="absolute inset-0"></span>
                {{ 'incentive.incentive1.title' | translate }}
              </p>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{{ 'incentive.incentive1.description' | translate }}</p>
          </div>

        </div>

      </article>
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="assets/images/incentives/incentive2.jpg" alt="{{ 'incentive.incentive2.title' | translate }}" class="aspect-video w-full rounded-2xl bg-gray-100 object-cover sm:aspect-2/1 lg:aspect-3/2">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-gray-900/10 ring-inset"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <p href="#">
                <span class="absolute inset-0"></span>
                {{ 'incentive.incentive2.title' | translate }}
              </p>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{{ 'incentive.incentive2.description' | translate }}</p>
          </div>

        </div>

      </article>
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="assets/images/incentives/incentive3.jpg" alt="{{ 'incentive.incentive3.title' | translate }}" class="aspect-video w-full rounded-2xl bg-gray-100 object-cover sm:aspect-2/1 lg:aspect-3/2">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-gray-900/10 ring-inset"></div>
        </div>
        <div class="max-w-xl">

          <div class="group relative">
            <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <p href="#">
                <span class="absolute inset-0"></span>
                {{ 'incentive.incentive3.title' | translate }}
              </p>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{{ 'incentive.incentive3.description' | translate }}</p>
          </div>

        </div>

      </article>
      <!-- More posts... -->
    </div>
  </div>
</div>
